{{!-- default layout for all handlebars  --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
<header>
    <nav>
        <ul>
            {{#if login}}
                <li><a href="/user/{{userId}}">Home Page</a></li>
                <li><a href="/logout">Logout</a></li>
                {{#if isAdmin}}
                    <li><a href="/drink/new">Add A Drink</a></li>
                {{/if}}
            {{else}}
                <li><a href="/home">Home</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Log In</a></li>
            {{/if}}
        </ul>
    </nav>
</header>
{{{body}}}
</body>
</html>

