<div>
    <h1>{{title}}</h1>

    {{#if login}}
        {{#if isAdmin}}
                <form id="drinkEdit_form" action="/drink/new" method="POST">
                    <div>
                        <label for="name">Drink Name:
                            <input type="text" id="name" name="name" >
                        </label>
                    </div>
                    <div>
                        <label for="category">Category:
                            <input type="text" id="category" name="category" >
                        </label>
                    </div>
                    <div>
                        <label for="recipe">Recipe:
                            <input type="text" id="recipe" name="recipe" >
                        </label>
                    </div>
                    <div>
                        <label for="rating">Rating:
                            <input type="text" id="rating" name="rating" >
                        </label>
                    </div>
                    <div>
                        <label for="price">Price:
                            <input type="text" id="price" name="price" >
                        </label>
                    </div>
                    <div>
                        <label for="drinkPictureLocation">Upload Image:
                            <input type="file" id="drinkPictureLocation" accept="image/*">
                            <img id="previewImg" src="#" alt="Preview Image">
                        </label>
                    </div>
                    <div>
                        <button type="submit" id="submitBtn2">Add a new drink</button>
                    </div>
                </form>
                <form id="delete_form" action="/{{drinkInfo._id}}" method="DELETE">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" id="delete">Delete</button>
                </form>
        {{else}}
                <div id="error" class="hidden-div">error message</div>

        {{/if}}
    {{else}}
            <p>Only Admin can create a new drink.</p>
    {{/if}}
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
    <script src="../public/js/modifyDrinkInfo.js"></script>
</div>
