<div class="container">
    <h1 class="title">{{title}}</h1>
    <form id="login_form" action="/login" method="POST">
        <div id="error" class="hidden-div">error message</div>
        <div>
            <label for="emailAddressInput">
                EmailAddress *:
                <input type="email" id="emailAddressInput" name="emailAddressInput">
            </label>
        </div>
        <div>
            <label for="passwordInput">
                Password *:
                <input type="password" id="passwordInput" name="passwordInput">
            </label>
        </div>      
        <div>
            <button type="submit" id="btnSubmit" >Submit</button>
        </div>
    </form>
    <p>
        Welcome to our dynamic app, specifically crafted for those passionate about bars and liquor.
        Our platform responds to the growing need for detailed information about drink quality, service, pricing, and ambiance.
        It features a user-friendly interface, offering comprehensive reviews and ratings to assist in finding the best liquor options.
        Key functionalities include a versatile login interface, a vivid liquor display page, in-depth liquor details with user reviews, a personalized user profile, and a robust bar management section for administrators.
        Enhance your liquor discovery experience with added features like photo-inclusive reviews, online reservations, and an easy-to-use contact menu.
    </p>
    <a href="/register">Click Here To Register!</a>
<!--    <script src="../public/js/login.js"></script>-->
</div>
