<div class="container">
    <h1 class="title">{{title}}</h1>
    <form id="login_form" action="/login" method="POST">
        <div>
            <label for="emailAddressInput">
                EmailAddress:
                <input type="email" id="emailAddressInput" name="emailAddressInput">
            </label>
        </div>
        <div>
            <label for="passwordInput">
                Password:
                <input type="password" id="passwordInput" name="passwordInput">
            </label>
        </div>      
        <div>
            <button type="submit" id="btnSubmit" >Submit</button>
        </div>
    </form>
    <div id="error" class="hidden-div">error message</div>
    <a href="/register">Click Here To Register!</a>
    <script src="../public/js/login.js"></script>
</div>
