<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel='stylesheet' href='/public/css/main.css' />
</head>
<body>
    <form id="registration_form" action="/register" method="POST">
    <label for="firstNameInput">
        First Name:
            <input type="text" id="firstNameInput" name="firstNameInput">
    </label>

    <label for="lastNameInput">
        Last Name:
        <input type="text" id="lastNameInput" name="lastNameInput">
    </label>

    <label for="emailAddressInput">
        Email Address:
        <input type="text" id="emailAddressInput" name="emailAddressInput">
    </label>

    <label for="passwordInput">
        Password:
        <input type="password" id="passwordInput" name="passwordInput">
    </label>

    <label for="confirmPasswordInput">
        Confirm Password:
        <input type="password" id="confirmPasswordInput" name="confirmPasswordInput">
    </label>

    <label for="photoInput">
        Upload Image:
        <input type="file" id="photoInput" name="photoInput">
        <img id="previewImg2" src="#">
    </label>

    <label for="roleInput">
        Role:
        <select id="roleInput" name="roleInput">
        <option value="admin">Admin</option>
        <option value="user">User</option>
        </select>
    </label>

    <button type="submit" id="submit">Submit</button>
    </form>
    <p id="clienterror2" ></p>
    <a href="/login">Log in if you already have an account</a>
    <script src="/public/js/register.js"></script>
    </main>
    
</body>
</html>


