<div class="container">
    <h1 class="title">{{title}}</h1>

    <form id="registration_form" action="/register" method="POST" enctype="multipart/form-data">
        <div>
            <label for="firstNameInput">
                First Name *:
                <input type="text" id="firstNameInput" name="firstNameInput" >
            </label>
        </div>
        <div>
            <label for="lastNameInput">
                Last Name *:
                <input type="text" id="lastNameInput" name="lastNameInput">
            </label>
        </div>
        <div>
            <label for="emailAddressInput">
                Email Address *:
                <input type="text" id="emailAddressInput" name="emailAddressInput">
            </label>
        </div>
        <div>
            <label for="phoneNumberInput">
                Phone Number *:
                <input type="text" id="phoneNumberInput" name="phoneNumberInput" placeholder="+15514329087">
            </label>
        </div>
        <div>
            <label for="passwordInput">
                Password *:
                <input type="password" id="passwordInput" name="passwordInput">
            </label>
        </div>
        <div>
            <label for="confirmPasswordInput">
                Confirm Password *:
                <input type="password" id="confirmPasswordInput" name="confirmPasswordInput" >
            </label>
        </div>
        <div>
            <label for="photoInput">
                Upload Image :
                <input type="file" id="photoInput" name="photoInput" accept="image/*">
            </label>
            <img id="previewImg" alt="previewImg" src="#" >
            <button type="button" id="removeImageBtn" style="display: none;">Remove Image</button>
        </div>
        <div>
            <label for="roleInput">
                Role:
                <select id="roleInput" name="roleInput">
                    <option value="admin">Admin</option>
                    <option value="user">User</option>
                </select>
            </label>
        </div>
        <div>
            <button type="submit" id="submitBtn" >Submit</button>
        </div>
    </form>
    <div id="error" class="hidden-div">error message</div>
    <a href="/login">Log in if you already have an account</a>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
    <script src="../public/js/register.js"></script>
</div>
