<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User File</title>
    <link rel='stylesheet' href='/public/css/main.css' />
</head>
<body>
    <main>
        <form id="userFile-form" action="/user/:id" method="POST">
        <label for="firstNameInput">
            First Name:
            <input type="text" id="firstNameInput3" name="firstNameInput3">
        </label>

        <label for="lastNameInput">
            Last Name:
            <input type="text" id="lastNameInput3" name="lastNameInput3">
        </label>

        <label for="photoInput">
            Upload Image:
            <input type="file" id="photoInput3" name="photoInput3">
            <img id="previewImg" src="#">
        </label>

        <button type="submit" id="submit3">Submit</button>
        </form>

        <div id="reviews-container">
            <ol>               
            </ol>
        </div>
        <p id="clienterror3" ></p>
    </main>
</body>
</html>