ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

li {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 15px;
    width: 250px; /* Set a fixed width for each drink item */
    max-height: 300px; /* Set a maximum height for the images */
}

.drink-picture {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 100%; /* Ensure images don't exceed the maximum height */
}