.hidden-div {
    display: none;
}
.displaydrinks {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.alldrinks {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 15px;
    width: 300px;
    height: auto;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.drink-picture {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 100%;
    flex-grow: 1;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#previewImg {
    max-width: 200px;
    max-height: 200px;
    margin-top: 10px;
}
#drinkPhoto {
    max-width: 400px;
    max-height: 400px;
    margin-top: 10px;
}
#customerPhoto {
    max-width: 50px;
    max-height: 50px;
    margin-top: 10px;
    margin-right: 10px;
    float: left;
}
.review-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
.customer-details {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}
.customer-details span {
    margin-right: 10px;
}
.review-text {
    clear: both;
    padding-top: 5px;
}
.review-header {
    display: flex;
    align-items: center;
}

.filled-star {
    color: gold;
}

.empty-star {
    color: lightgray;
}
.reserved-picture {
    max-width: 400px;
    max-height: 400px;
    margin-top: 10px;
}
.comment-picture {
    max-width: 400px;
    max-height: 400px;
    margin-top: 10px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: mediumvioletred;
    color: white;
    padding: 10px 0;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

header nav ul li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    display: block;
}

header nav ul li a:hover {
    background-color: #6B6E70;
}

@media screen and (max-width: 600px) {
    header nav ul {
        flex-direction: column;
    }

    header nav ul li {
        text-align: center;
        padding: 10px;
    }
}
.personalImage {
    max-width: 300px;
    max-height: 300px;
    margin-top: 10px;
}